body {
  background: #f1f5f9;
  font-family: "Segoe UI", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background:transparent;
  color: #f4bb03;
  transition: 0.3s;
  z-index: 1000;
}
.sidebar {
    background: #00102f; /* deep navy */
}

.sidebar a:hover {
    background: #1e293b;
    color: #fff;
}
.sidebar a {
  display: block;
  padding: 12px 20px;
  color: #b4b4b7;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.sidebar a:hover {
  background: #334155;
  color: #fff;
}

@media (max-width: 768px) {
  .sidebar {
    left: -250px;
  }

  .sidebar.show {
    left: 0;
  }
}
.stats-card {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: 0.3s;
}



.stats-card h3 {
    font-weight: 700;
    margin-top: 5px;
}

.stats-card i {
    opacity: 0.8;
}

.stats-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
/* Main */
.main {
  margin-left: 250px;
  padding: 20px;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}

/* Card */
.card-box {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.card-box h5{
    font-weight: 600;
    color: #031f58;
}

/* Hamburger */
.menu-btn {
  display: none !important;
  background: #1e293b;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .menu-btn {
    display: inline-block !important;
  }
}

/* Mobile Card */
@media (max-width: 768px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    background: #fff;
    margin-bottom: 18px;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    border-left: 5px solid #3b82f6;
  }

  .table td[data-label="Name"] {
    font-weight: 600;
  }

  .table td[data-label="Email"] {
    color: #64748b;
    font-size: 13px;
    margin-bottom: 6px;
  }

  .table
    td:not([data-label="Name"]):not([data-label="Email"]):not(
      [data-label="Action"]
    ) {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px dashed #e2e8f0;
  }

  .table
    td:not([data-label="Name"]):not([data-label="Email"]):not(
      [data-label="Action"]
    )::before {
    content: attr(data-label);
    color: #64748b;
  }

  .table td[data-label="Action"] {
    display: flex;
    gap: 8px;
    margin-top: 10px;
  }

  .table td[data-label="Action"] button {
    flex: 1;
  }
}

/* Status Color */
.status-pending {
  border-left: 5px solid #facc15 !important;
}

.status-success {
  border-left: 5px solid #22c55e !important;
}

.status-reject {
  border-left: 5px solid #ef4444 !important;
}
