.custom-input-group {
  border: 1px solid #e4e7ec;
  background-color: #f8fafc;
  border-radius: 10px !important;
  transition: all 0.2s ease-in-out;
}

.custom-input-group:focus-within {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  background-color: #ffffff;
}

.custom-input-group .input-group-text {
  background-color: transparent;
  border: none;
  padding-right: 0;
}

.custom-input-group .form-control {
  background-color: transparent;
  border: none;
}

.custom-input-group .form-control:focus {
  box-shadow: none;
  outline: none;
}

.custom-input-group .form-control::placeholder {
  color: #8a94a6;
}
.jobcards_hover {
  transition: 0.3s;
}

.jobcards_hover:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.bookmrks:hover {
  background: rgba(23, 96, 255, 0.73) !important;
  color: white;
}
@media (max-width: 768px) {
  .col-lg-3 {
    display: none;
  }
  .jobcards_hover .d-flex.justify-content-between {
    flex-direction: column;
  }

  .jobcards_hover .border-start {
    border-left: none !important;
    padding-left: 0 !important;
    margin-top: 15px;
    align-items: flex-start !important;
  }

  .jobcards_hover .text-end {
    text-align: left !important;
  }
  .btn-groups a {
    width: 100%;
  }
}
