section {
  background-color: #f5f6f7;
}

.loc {
  font-weight: 500;
}
.card {
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.18);
}
.card:hover .card-text {
  color: #0d6efd;
}
.view-btn {
  font-size: 1.2rem;
  font-weight: 400;
  box-shadow: 0 20px 45px rgba(108, 132, 254, 0.3);
}
